<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="site-header o-container">
      <div class="header-left">
        <button
          id="mobileMenuBtn"
          class="mobile-menu-btn"
          type="button"
          aria-label="Open menu"
          aria-expanded="false"
          aria-controls="mobileMenuPanel"
        >
          <img src="../../assets/icons/burger-menu-icon.svg" alt="" />
        </button>

        <div class="header-logo">
          <a class="header-logo__link" href="/index.html" aria-label="Home">
            <img src="./assets/images/logo.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="header-wrapper">
        <!-- Logo -->

        <!-- Search -->
        <div class="header-top">
          <form id="headerSearchForm" class="header-search">
            <input
              id="headerSearchInput"
              type="text"
              placeholder="Search here..."
            />
            <button type="submit" class="header-search__btn">
              <img src="./assets/icons/search-icon.svg" />
            </button>
            <div
              id="headerSearchSuggestions"
              class="header-search__suggestions"
              hidden
            ></div>
          </form>

          <!-- Actions -->

          <div class="header-actions">
            <!-- Cart -->
            <a
              class="header-action mobile-search-btn"
              href="./pages/search.html"
              aria-label="Search"
            >
              <img src="./assets/icons/search-icon.svg" alt="" />
            </a>

            <a
              href="./pages/cart.html"
              class="header-action header-action--cart"
            >
              <img src="./assets/icons/cart-icon.svg" />
              <span class="header-action__label">Cart </span>
              <span id="headerCartBadge" class="header-action__badge">0</span>
            </a>

            <!-- Wishlist -->

            <a
              id="headerWishlistBtn"
              href="./pages/wishlist.html"
              class="header-action header-action--wishlist"
              aria-label="Wishlist"
            >
              <img src="./assets/icons/heart-icon.svg" />
              <span
                id="headerWishlistBadge"
                class="header-action__badge header-action__badge--wishlist"
                style="display: none"
                >0</span
              >
            </a>

            <!-- User -->

            <div class="header-user" id="headerUser">
              <button
                class="header-action header-action--user"
                id="userIcon"
                type="button"
                aria-haspopup="menu"
                aria-expanded="false"
              >
                <img id="userIconImg" src="./assets/icons/user-icon.svg" />
              </button>

              <div class="user-menu" id="userMenu" hidden>
                <div class="user-menu__head">
                  <img
                    class="user-menu__avatar"
                    id="userMenuAvatar"
                    src="https://i.pravatar.cc/80?img=32"
                    alt="User avatar"
                  />

                  <div class="user-menu__meta">
                    <div class="user-menu__name" id="userMenuName">
                      Your name
                    </div>
                    <div class="user-menu__email" id="userMenuEmail">
                      yourname@gmail.com
                    </div>
                  </div>
                </div>

                <div class="user-menu__divider"></div>

                <button class="user-menu__item" type="button" id="menuSignIn">
                  <span class="user-menu__icon">↪</span>
                  <span class="user-menu__text">Sign in</span>
                  <span class="user-menu__chev">›</span>
                </button>
                <button
                  class="user-menu__item"
                  type="button"
                  id="menuAdminDashboard"
                  hidden
                >
                  <span class="user-menu__icon">🛠️</span>
                  <span class="user-menu__text">Admin Dashboard</span>
                  <span class="user-menu__chev">›</span>
                </button>

                <button
                  class="user-menu__item"
                  type="button"
                  id="menuMyProfile"
                >
                  <span class="user-menu__icon">👤</span>
                  <span class="user-menu__text">My Profile</span>
                  <span class="user-menu__chev">›</span>
                </button>

                <button class="user-menu__item" type="button" id="menuSettings">
                  <span class="user-menu__icon">⚙</span>
                  <span class="user-menu__text">Settings</span>
                  <span class="user-menu__chev">›</span>
                </button>

                <div
                  class="user-menu__item user-menu__item--has-sub"
                  id="menuNotification"
                >
                  <div class="user-menu__row">
                    <span class="user-menu__icon">🔔</span>
                    <span class="user-menu__text">Notification</span>
                    <span class="user-menu__chev">›</span>
                  </div>

                  <div class="user-menu__sub" id="notificationSubmenu">
                    <button type="button" class="user-menu__subitem">
                      Allow
                    </button>
                    <button type="button" class="user-menu__subitem">
                      Mute
                    </button>
                  </div>
                </div>

                <button class="user-menu__item" type="button" id="menuLogout">
                  <span class="user-menu__icon">↩</span>
                  <span class="user-menu__text">Log Out</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- NAVIGATION -->

        <nav class="header-nav">
          <ul class="header-nav__list">
            <li><a href="/index.html">Home</a></li>

            <li class="header-nav__item header-nav__item--categories">
              <button
                id="categoriesBtn"
                class="header-nav__link header-nav__categories-btn"
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Categories
              </button>

              <div id="categoriesDropdown" class="header-nav__dropdown" hidden>
                <ul id="menu" class="menu-list">
                  <li data-category="" class="menu-list-item is-active">All</li>
                  <li data-category="Fashion Women" class="menu-list-item">
                    Woman’s Fashion
                  </li>
                  <li data-category="Fashion Men" class="menu-list-item">
                    Men’s Fashion
                  </li>
                  <li data-category="Electronics" class="menu-list-item">
                    Electronics
                  </li>
                  <li data-category="Home" class="menu-list-item">
                    Home & Lifestyle
                  </li>
                  <li data-category="Beauty" class="menu-list-item">
                    Health & Beauty
                  </li>
                </ul>
              </div>
            </li>

            <li><a id="navShop" href="#">Shop</a></li>

            <li><a id="navProduct" href="#">Product</a></li>

            <li><a href="#">About</a></li>
          </ul>

          <div class="header-contact">
            Contact: <strong>(123.456.7894)</strong>
          </div>
        </nav>
      </div>

      <div id="mobileMenuOverlay" class="mobile-menu__overlay" hidden></div>
      <aside id="mobileMenuPanel" class="mobile-menu" hidden>
        <div class="mobile-menu__header">
          <div class="mobile-menu__title">Categories</div>
          <button
            id="mobileMenuCloseBtn"
            class="mobile-menu__close"
            type="button"
            aria-label="Close menu"
          >
            ×
          </button>
        </div>

        <ul id="mobileMenu" class="menu-list">
          <li data-category="" class="menu-list-item is-active">All</li>
          <li data-category="Fashion Women" class="menu-list-item">
            Woman’s Fashion
          </li>
          <li data-category="Fashion Men" class="menu-list-item">
            Men’s Fashion
          </li>
          <li data-category="Electronics" class="menu-list-item">
            Electronics
          </li>
          <li data-category="Home" class="menu-list-item">Home & Lifestyle</li>
          <li data-category="Beauty" class="menu-list-item">Health & Beauty</li>
        </ul>
      </aside>
    </header>
  </body>
</html>
