.btn {
  padding: 14px 25px;
  background: var(--color-btn-bg);
  color: var(--color-btn-text);
  border-radius: 6px;
  font-weight: 600;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}


.section-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #e00;
  font-weight: 600;
}

.section-badge span {
  width: 14px;
  height: 14px;
  background: #e00;
  border-radius: 4px;
}
